<template>
  <div class="wrapper">
    <div class="widget">
      <h1 class="title">Upcoming events</h1>
      <div v-for="group in eventsGroupByDate" :key="group[0]" class="group">
        <div class="date">
          <span>{{ formatDate(group[0]) }}</span>
        </div>
        <EventList v-bind:events="group[1]" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import EventList from "@/components/EventList.vue";
import { mapGetters } from "vuex";
import { formatDate } from "@/utils/formatDate";

export default Vue.extend({
  name: "EventWidget",
  components: {
    EventList,
  },
  methods: {
    formatDate: formatDate,
  },
  computed: { ...mapGetters(["eventsGroupByDate"]) },
  beforeMount() {
    this.$store.dispatch("fetchEventList");
  },
});
</script>

<style scoped>
.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.title {
  font-size: 32px;
  line-height: 1;
  margin: 0 0 32px;
}
.group {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.date {
  width: 120px;
}
</style>
