<template>
  <div class="event-list-item">
    <span v-bind:class="getIntersectionClass()">
      <span class="start">{{ evt.startHours }}:{{ evt.startMinutes }}</span>
      <span class="end">{{ evt.endHours }}:{{ evt.endMinutes }}</span>
    </span>
    <span class="description">{{ evt.title }}</span>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "EventListItem",
  props: {
    evt: {
      type: Object,
      required: true,
    },
    hasIntersection: {
      type: Boolean,
    },
  },
  methods: {
    getIntersectionClass() {
      return {
        intersected: this.hasIntersection,
      };
    },
  },
});
</script>

<style scoped>
.event-list-item {
  display: flex;
  justify-content: start;
  margin-left: 20px;
}
.start,
.end {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
}
.description {
  margin-left: 10px;
}
.intersected {
  background-color: #ec7878;
}
</style>
