<template>
  <div>
    <EventListItem
      v-for="evt in this.events"
      :key="evt.id"
      v-bind:evt="evt"
      v-bind:hasIntersection="Boolean(overlappedEvents[evt.id])"
    >
    </EventListItem>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import EventListItem from "@/components/EventListItem.vue";
import { mapGetters } from "vuex";

export default Vue.extend({
  name: "EventList",
  props: {
    events: {
      type: Array,
      required: true,
    },
  },
  computed: { ...mapGetters(["overlappedEvents"]) },
  components: {
    EventListItem,
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
