<template>
  <div id="app" class="app">
    <EventWidget />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import EventWidget from "@/components/EventWidget.vue";

export default Vue.extend({
  name: "App",
  components: {
    EventWidget,
  },
});
</script>

<style>
body {
  padding: 0;
  margin: 0;
  background-color: #e6e6e6;
  height: 100vh;
  width: 100vw;
}
.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
